body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 500px;
}

.text{
    font-size: 60px;
    font-weight: 900;
    cursor: pointer;
}

.box{
    width: 300px;
    height: 100px;
    background-color: springgreen;
    margin: 60px auto;
    cursor: pointer;
}

.text:hover, .box:hover{
    animation: flipV 1s linear;
}

.text:hover, .box:hover{
    animation: flipH 1s linear;
}

@keyframes flipV{
    50%{
        transform: rotateX(180deg);
    }
    to{
        transform: rotateX(360deg);
    }
}

@keyframes flipH{
    50%{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(360deg);
    }
}